.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-template-rows: 1fr;

}
.dialogsItems {
    padding: 10px;
    grid-column: 1;
    grid-row: 1;
    background-color:  rgba(163, 253, 253, 0.295);
}

.dialogsItems .activeLink   {
    color: #0000ff;
}

.dialog a {
    color: rgb(36, 34, 34);
    text-decoration: none;
} 
