.wrapper {
    display:grid;
    box-sizing: border-box;
    height: 100vh;
    grid-template-areas:        ". . . ."
                                ". header header ."
                                ". . . ."
                                ". avatar content ."
                                ". . content ."
                                ". navigation content ."
                                ". . . ."
                                ". footer footer ."
                                ". . . .";
    grid-template-columns: 5px 200px 1fr 5px;
    grid-template-rows: 5px 75px 5px 150px 5px 1fr 5px 50px 5px;
    grid-column-gap: 10px;
}

.wrapper-content{
    display:grid;
    grid-area: content; 
    overflow-y: auto; 
    background-color: rgba(163, 253, 253, 0.24);
}

